@charset "UTF-8";

@media screen and (min-width: 999px) {
  .row>* .perfil{
    width: 60%;
  }
}

@media screen and (max-width: 988px){
  #tituloPrincipal, #tituloSecundario{
    font-size: 2em;
  } 
  
  #texto{
    width: 80%;
  }
  
  .row>* .perfil{
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  #navbarNavDropdown{
    display: flex;
    justify-content: center;
  }

  .conteudo{
    font-size: 1.2em;
  }

  ul{
    margin-left: -6%;
  }
}


@media screen and (max-width: 767px){
  #tituloPrincipal, #tituloSecundario{
    font-size: 30px;
  }  

  .nome{
    font-size: 26px;
  }

  .conteudo{
    font-size: 1.2em;
  }
  
  #texto{
    width: 80%;
  }
  
  .row>* .perfil{
    width: 40%;
  }
}


@media screen and (max-width: 470px){
  .conteudo{
    font-size: 1.2em;
  }
  
  .row>* .perfil{
    width: 40%;
  }
}


@media screen and (max-width: 380px){
  #tituloPrincipal, #tituloSecundario{
    font-size: 28px;
  }

  .nome{
    font-size: 24px;
  }
  
  .row>* .perfil{
    width: 40%;
  }
}

/*Galaxy Fold*/
@media screen and (max-width: 320px){
  #tituloPrincipal, #tituloSecundario{
    font-size: 1.3em;
  }

  .icons{
    width: 100px;
  }

  .nome{
    font-size: 1em;
  }

  .conteudo, .descricao > div > p{
    font-size: .7em;
  }

  .funcao{
    font-size: 12px;
    line-height: .2em;
  }

  .descricao{
    padding: 5px;
  }
  
  .row>* .perfil{
    width: 45%;
  }
}