@charset "UTF-8";

/*Todas as medias querys virão aqui*/

/* Typical devices breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 769px até 992px
Desktop: 992px até 1200px
Grandes telas: acima 1200px
*/

/*telas menores*/
@media screen and (min-width: 0px) and (max-width: 768px) {

  #buttons{
    display: flex;
    flex-direction: row;
  }

  .alinharow{
    display: flex;
    gap: 0px;
  }

    article#landing-page{
        display: block;
    }

    article#landing-page-telasGrandes{
        display: none;
    }

    #noticias h1{
        color: black;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 28px;
        margin-right: 65%;
        font-family: 'Nunito',sans-serif;
        background-color:  #72A0C1;
    }

    .avatar{
        width: 30px;
        height: auto;
      }

    #Principais-materiais li{
        margin-left: 10%;
        margin-right: 10%;
      }

      .principais-texto{
        text-align: center;
        font-size: 5px;
      }

      .conMapa{
        background-color:#F4F4F4;
        width: calc(100vw - padding);
        flex-direction: row;
        justify-content: center;
        padding: 1.2em;
        margin: 0 auto;
        margin-top: -150px;
      }

      #mapa {
        margin-top: 55px;
        border-radius: 2vh;
        height: 60vh;
        width: 88vh;
        flex-direction: row;
        display: flex;
      }

      .texto1mapa{
        font-family: 'Nunito', sans-serif;
        flex-direction: row;
        display: flex;
        font-size: 1em;
        text-align: center;
      }
      .texto2mapa{
        font-family: 'Nunito', sans-serif;
        flex-direction: row;
        display: flex;
        font-size: 0.5em;
        text-align: center;
      }

      .search{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .stores{
        margin-top: 5%;
        width: 50px;
        height: auto;
        display: flex;
        align-items: center;
      }
}
/* /\ media query da navbar*/

/*celular*/
@media screen and (min-width: 768px) and (max-width: 992px)
{

  .store{
    display: flex;
    flex-direction: row;
  }

  .alinharow{
    display: flex;
    gap: 0;
  }

  .conMapa{
    background-color:#F4F4F4;
    width: calc(100vw - padding);
    flex-direction: row;
    justify-content: center;
    padding: 1.2em;
    margin: 0 auto;
    margin-top: -150px;
  }

  #mapa {
    margin-top: 55px;
    border-radius: 2vh;
    height: 60vh;
    width: 88vh;
    flex-direction: row;
    display: flex;
  }

  .texto1mapa{
    font-family: 'Nunito', sans-serif;
    flex-direction: row;
    display: flex;
    font-size: 1em;
    text-align: center;
  }
  .texto2mapa{
    font-family: 'Nunito', sans-serif;
    flex-direction: row;
    display: flex;
    font-size: 0.5em;
    text-align: center;
  }

  .search{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #landing-page-telasGrandes .botao{
    position: absolute;
    top: 67%; /* Ajuste este valor de acordo com suas necessidades */
    left: 20%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #004852; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

    #landing-page {
        display: none;
      }

      #landing-page-telasGrandes{
        display: block;
      }

      #langing-image{
        height: 10px;
        width: auto;
        display: flex;
        top: 30%;
    }

    #landing-page-telasGrandes h1{
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-top: 10%;
        text-align: left;
        margin-left: 100px;
    }
    
    #landing-page-telasGrandes h3{
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        margin-left: 100px;
    }

    .alinharow{
      display: block;
    }

    #paragrafo h1{
      padding-top: 10%;
      font-size: 20px;
      font-weight: bold;
      background-color: #3B5364;
      padding-right: 20%;
    }
  
    #paragrafo h3{ 
      font-size: 11.5px;
      font-weight: bold;
      background-color: #3B5364;
      padding-right: 50%;
    }
  
    #paragrafo p{
      padding-top: -20px;
      text-align: center;
      font-size: 6px;
      padding-left: 50%;
    }
  
    .stores{
      height: auto;
      float: right;
      margin-right: 30%;
    }

    hr{
      display: none;
    }
}

/*tablet*/
@media screen and (min-width: 769px) and (max-width: 987px) {
  .SendSVG {
    width: 20px;
    height: 20px;
    border-width: 50px;
    transform: translate(8px, 1px);
    background-size: 10px;
    border-radius: 10px;
    transition: 0.3s;
    color: gray;
    margin-left: 16%;
  }


  #paragrafo a{
    padding-top: -20px;
    float: center;
  }

  #paragrafo h1{
    padding-top: 3%;
    font-size: 20px;
    font-weight: bold;
    background-color: #3B5364;
    padding-right: 20%;
  }

  #paragrafo h3{ 
    font-size: 11.5px;
    font-weight: bold;
    background-color: #3B5364;
    padding-right: 20%;
  }

  .Message {
    width: 200%;
    height: 30px;
    border-radius: 10px;
    background-color: #f4f4f4;
    transform: translate(0px,0px);
    margin-left: 20%
  }

  .stores{
    margin-top: 3%;
    width: 90%;
    height: auto;
    float: right;
  }

  hr{
    display: block;
  }

  .texto1mapa{
    padding-left: 5%;
  }
  .texto2mapa{
    padding-left: 10%;
  }

  .avatar{
    width: 15px;
    height: auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1070px){
  .alpontilhado{
    transform: translateY(-60px);
    margin-left: 10%;
  }

  .Message {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: #f4f4f4;
    transform: translate(0px,0px);
    margin-left: 20%
  }
}

/*desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    #landing-page {
        display: none;
      }

      #landing-page-telasGrandes{
        display: block;
      }
}

/*telas maiores*/
@media screen and (min-width: 1200px){

    #landing-page {
        display: none;
      }
      #landing-page-telasGrandes{
        display: block;
      }
    }