@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*--- Ínicio navbar---*/
#icone{
    height: auto;
    width: 120px;
    margin-left: 110px;
}
#navbarNavAltMarkup{
    margin-left: -20%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 5px;
}
    /*--- Fim navbar----*/


/*------ Início - Landing page telas pequenas-----*/
*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
  background-color: #F4F4F4;
}

#landing-page-pequena{
    margin-top: 75px;
    background-color: #4E9E5A;
}

article h1{
  padding-top: 22px;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    background-color: #4E9E5A;
}

article h3{
    color: aliceblue;
    font-size: 15px;
    font-weight: 400;
    padding-top: 15px; 
   text-align: center;
   background-color: #4E9E5A;
}

article button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #004852;
    color: white;
    position: fixed center;
    margin-top: 25px;
    border: none;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E9E5A;
}

#landing-page-onda{
  height: auto;
  width: 100%;
  background-color: #F4F4F4;
}
/*------ Fim - Landing page telas pequenas-----*/



/*---- Inicio - Landing page telas grandes ----*/
#landing-page-telasGrandes{
    background-color: #F4F4F4;
}

#landing-page-telasGrandes .botao{
    position: absolute;
    top: 67%; /* Ajuste este valor de acordo com suas necessidades */
    left: 25%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #004852; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.bolota{
  position: relative;
  display: inline-block;}

#compartilhandoimg{
  padding-top: 5%;
  margin-top: 200px;
  height: auto;
  width: 60%;
  float: right;
}

#bolota{
  margin-top: 3%;
  width: 155%;
  margin-left: -100px;
  float: left; /* Posiciona a imagem à esquerda */
  height: auto; /* Mantém a proporção da altura da imagem */
  margin-right: 20px;
}

/*------ Fim landing page telas grandes ------*/


/*----- Início mapa -------*/
.conMapa{
    background-color:#F4F4F4;
    width: calc(100vw - padding);
    flex-direction: row;
    justify-content: center;
    padding: 1.2em;
    margin: 0 auto;
  }

  #mapa {
    margin-top: 55px;
    border-radius: 2vh;
    height: 60vh;
    width: 90vh;
    flex-direction: row;
    display: flex;
  }

  .texto1mapa{
    margin-top: 55px;
    font-family: 'Nunito', sans-serif;
    flex-direction: row;
    display: flex;
    font-size: 2em;
    background-color: #F4F4F4;
  }
  .texto2mapa{
    font-family: 'Nunito', sans-serif;
    flex-direction: row;
    display: flex;
    font-size: 1.2em;
  }

  .search {
    --input-line: #000000; /* é a cor da barrinha piscante*/
    --input-text-color: #000000; /*cor da escrita dentro da caixa normal*/
    --input-text-hover-color: black; /*cor da escrita dentro da caixa quando selecionada*/
    --input-border-color: #000000; /*cor da borda normal*/
    --input-border-hover-color: #000000;/*cor da borda quando seleciona*/
    --input-bg-color: #ffffff; /*cor de fundo do negocio todo*/
    --search-max-width: 250px;
    --search-min-width: 150px;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);

    font-family: 'Nunito', sans-serif;
  }
  
  .search-box {
    max-width: var(--search-max-width);
    min-width: var(--search-min-width);
    height: 35px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    background: var(--input-bg-color);
    transition: var(--transition-cubic-bezier);
  }
  
  .search-box:hover {
    border-color: var(--input-border-hover-color);
  }
  
  /*Section input*/
  .search-field {
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    border: 0;
  }
  
  .input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: var(--input-line);
    background: var(--input-bg-color);
    border-right: 2px solid var(--input-border-color);
    outline: none;
  }
  
  .input::-webkit-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input::-moz-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input::-ms-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input:focus::-webkit-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  .input:focus::-moz-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  .input:focus::-ms-input-placeholder {
    color: var(--input-text-hover-color);
  }
  /*Search button*/
  .search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -6px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
  }
  
  .search-box-icon:hover {
    background: var(--input-border-color);
  }
  
  .btn-icon-content {
    width: 52px;
    height: 35px;
    top: -5px;
    right: -21px;
    background: black;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: .4;
  }
 
  .search-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 3px;
    right: 15px;
  }
/*----- FIM mapa -----------*/


/*------ Início - Notícias -----*/

#noticias{
    background-color: #72A0C1;
    margin-top: -10%;
}

#noticias h1{
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 28px;
    margin-right: 65%;
    font-family: 'Nunito',sans-serif;
}

#ondaNoticia{
  width: 100%;
  height: auto;
  margin-top: -38%;
}

#ondaDeBaixo_Noticia{
  width: 100.1%;
  height: auto;
  margin-left: -1.5px;
}

#detalheNoticia{
  height: auto;
  width: 5%;
  position: absolute;
  left: 8.6%;
}
/*------ Fim - Notícias -----*/


/*------ Início - Best-ideas -----*/
#Principais-materiais{
  margin-top: -62%;
  background-color: #F4F4F4;
  padding-bottom: 70px;
}

  #Principais-materiais > h1{
    margin-top: 20%;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 250%;
    font-weight: bold;
    background-color: #F4F4F4;
    margin-bottom: 9%;
  }

  #detalhe1-Principais{
    margin-top: 10%;
  }
  .avatar{
    width: 140px;
    height: auto;
    margin-bottom: 20px;
  }

  .card-text{
    font-size: 1.5vw;
    font-weight: bold;
  }

  .holder{
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 30px;
  }

.box{
  display: inline-block;
}

.principais-texto{
  font-size: 20px;
  margin-left: 40px;
}


/*------ Fim - Best-ideas -----*/


/*----- Início rodapé -----*/
  #rodape{
    background-color: #3B5364;
    overflow: hidden;
  }

  #titulo-rodape{
    font-size: 25px;
    font-weight: bold;
    color: #F4F4F4;
    margin-left: 210px;
  }

  .pontilhado{
    width: 37%;
    height: auto;
    margin-left: 60px;
  }

  #rodape .card-text{
    display: flex;
    float: left;
    flex-direction: row;
  }

  #rodape p{
    font-size: 18px;
    color:#F4F4F4;
  }

  #rodape .card{
    background-color: #3B5364;
    border: none;
  }

  .alinha{
    align-items: center;
    display: flex;
  }

  #rodape .card-img-top{
    width: 120%;
    height: auto;
  }

  .alinharow{
    display: flex;
    gap: 225px;
  }

  #paragrafo{
    float: center;
    padding-left: 40px;
    text-align: center;
  }

  #paragrafo h1{
    font-size: 20px;
    font-weight: bold;
    background-color: #3B5364;
  }

  #paragrafo h3{ 
    font-size: 11.5px;
    font-weight: bold;
    background-color: #3B5364;
  }

  .Message {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: #f4f4f4;
    transform: translate(0px,0px);
  }
  
  .MsgInput {
    font-size: 13px;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    width: 190px;
    height: 29px;
    transform: translate(1px,1px);
    color: gray;
    padding: 10px;
    font-weight: bold;
  }
  
  .SendSVG {
    width: 20px;
    height: 20px;
    border-width: 50px;
    transform: translate(8px,1px);
    background-size: 10px;
    border-radius: 10px;
    transition: 0.3s;
    color: gray;
  }
  
  .SendSVG:hover {
    background-color: #bebebe;
  }
  
  .l {
    position: absolute;
    width: 1%;
    height: 30px;
    background-color: #2e2f38;
    transform: translate(-25px);
  }
  
  #paragrao p{
    padding-top: -20px;
    text-align: center;
    font-size: 6px;
  }

  #paragrafo a{
    margin-top: -10px;
    text-decoration: none;
    color: #F4F4F4;
  }

  .stores{
    margin-top: 7%;
    width: 150px;
    height: auto;
    float: right;
  }
/*----- Fim rodapé -----*/